.react-Image {
  position: relative;
  width: 100%;
  margin: 0;
  height: 100%;
}

.react-Image-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
}

.react-Image--placeholder {
  background-position: center;
  background-size: cover;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.is-loading .react-Image-image {
  opacity: 0;
}

.is-loaded .react-Image-image {
  opacity: 1;
}

.is-error .react-Image-image {
  display: none;
}

.react-Image-spinner {
  position: absolute;
  z-index: 999;
  top: 50%; 
  left: 50%; 
  width: 30%;
}

.react-spinner_bar {
  background-color: black;
}